*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 70px;
    background-color: white;
    padding-top: 10px;
    margin-bottom: 40px;
}

.logo{
    vertical-align: middle;
    padding-left: 20px;
}

.titolo{
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 38px;
}

.contenitore{
    background-color: white;
    margin: auto;
    height: 582px;
    width: 786px;
    border-radius: 6px;
}

.pulsanti{
    padding: 14px 0 8px 50px;
}

button{
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid;
}

#task{
    color: white;
    border-color: #14AAF5;
    background-color: #14AAF5
}

#section{
    color: #C4CBD0;
    border-color: #C4CBD0;
    background-color: white;
}

hr{
    border: 2px solid #F6F8F9;
}




