*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 70px;
    background-color: white;
    padding-top: 10px;
    margin-bottom: 40px;
}

.logo{
    vertical-align: middle;
    padding-left: 20px;
}

.titolo{
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 38px;
}

/* main */

.contenitore{
    background-color: white;
    margin: auto;
    height: 582px;
    width: 786px;
    border-radius: 6px;
}

.pulsanti{
    padding: 14px 0 8px 50px;
}

button{
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid;
}

#task{
    color: white;
    border-color: #14AAF5;
    background-color: #14AAF5
}

#section{
    color: #C4CBD0;
    border-color: #C4CBD0;
    background-color: white;
}

hr{
    border: 2px solid #F6F8F9;
}

/* lista */

.lista{
    margin: 35px 50px;
}

ul{
    list-style: none;
}

li{
    margin: 10px 0;
}

.spunta{
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

.si{
    border: 1px solid #2DC6AB;
    color: #2DC6AB;
}

.no{
    border: 1px solid #FF1010;
    color: #FF1010;
}

.et{
    color: white;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 10px;

}

.blu{
    background-color: #09A9ED;
}

.viola{
    background-color: #AB5DE6;
}

.verde{
    background-color: #2CC6AB;
}

.rosso{
    background-color: #EC4A9D;
}

.orange{
    background-color: #FF9B00;
}

.giallo{
    background-color: #A3D116;
}


